@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/outfit-v15-latin-200.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/outfit-v15-latin-600.woff2') format('woff2');
}